.education-container {
    background-color: #2c3e50;
    .education-title {
        display: flex;
        justify-content: center;
        position: relative;
        color: #fff;
        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 25%;
            height: .1rem;
            background-color: crimson;
        }
    }
    .row {
        height: 100%;
        ul {
            h5 {
                text-decoration: underline;
            }
            h5,
            p,
            span {
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }
        }
    }
}