.header-container {
    .row {
        .header-text {
            h1,
            h3,
            span.header-container {
                color: #fff
            }
            span {
                a {
                    text-decoration: none;
                    color: #fff;
                    background-color: transparent;
                    padding: .5rem 1rem;
                    border-color: #ff6b81;
                    &:hover {
                        background-color: #ff6b81;
                        color: #000;
                    }
                }
            }
            ul {
                li {
                    a {
                        font-size: 1.35em;
                        transition: all 0.4s;
                    }
                    &:first-child a {
                        color: #3498db;
                    }
                    &:nth-child(2) a {
                        color: #fff;
                    }
                    &:nth-child(3) a {
                        color: #fff;
                    }
                    &:last-child a {
                        color: #4cd137;
                    }
                }
            }
        }
        .header-img {
            img {
                width: 100%;
                border-radius: 50%;
            }
        }
    }
}