    .project-container {
        background-color: #2c3e50;
        .project-title {
            display: flex;
            justify-content: center;
            position: relative;
            color: #fff;
            &::before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 25%;
                height: .1rem;
                background-color: crimson;
            }
        }
        .row {
            height: 100%;
            padding: .4rem;
            justify-content: center;
            align-items: center;
            margin: 5% 0 0 0;
            padding: .5rem 0 0 0;
            a {
                list-style: none;
                text-decoration: none;
                font-size: 2rem;
                color: #fff;
            }
            .project-box {
                box-shadow: 0 0 .2rem rgba($color: #000000, $alpha: .5), 0 0 .5rem rgba($color: #fff, $alpha: .4);
                background-color: #ff6b81;
                height: 250px;
                margin: 1rem;
                border-radius: .3rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                transition: all 400ms;
                position: relative;
                overflow: hidden;
                &::before {
                    content: '';
                    position: absolute;
                    top: 16rem;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: crimson;
                    transition: all 400ms;
                    &:hover {
                        left: 0;
                    }
                }
                &:hover {
                    clip-path: circle(100rem at 0% 0%);
                    background-color: #e02a4e;
                    color: #fff;
                }
            }
        }
    }