.search-div {
    padding: 1rem 0;
    .search-input {
        width: 15rem;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
        padding: .3rem 1rem;
        border: 1px solid #fff;
        &:focus {
            box-shadow: inset 0 0 .4rem #ff7979;
        }
    }
    .search-icon {
        padding: .3rem .5rem;
        background-color: #bdc3c7;
        opacity: .8;
        color: #000;
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
        &:hover {
            opacity: 1;
        }
    }
}

.page-switcher {
    display: grid;
    place-items: center;
    .page-btn {
        padding: 1rem 0;
    }
}