.anime-data {
    border: 1px solid white;
    .anime-content-container {
        .video-container {
            padding: 1rem 0;
            display: block;
            height: 100%;
            .video {
                width: 450px;
                height: 320px;
                max-width: 95%;
                display: block;
                margin: auto;
            }
        }
    }
}