* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.product-card {
    transition: all .2s;
    box-shadow: 0 0 3px #fff;
    transform: scale(.89);
    &:hover {
        box-shadow: 0 0 5px #fff;
        transform: scale(.92);
    }
}